@charset "UTF-8";

div{
    text-align: center;
    margin: auto;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo{
    background-color: lightblue;
    
}

#logo img{
    width: 100px;
    text-align: center;
}

#logo p{
    padding-bottom: 30px;
}

#logo p a{
    color: black;
}

#banner img, #sobre p, #corretores p{
    width: 500px;
    margin: auto;
    text-align: justify;
}

#sobre{
    
}

#sobre h1{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 0px;
}

#sobre h2{
    font-size: 15px;
    color: #0083ff;
    margin-top: 0;
}

#servicos{
    
}

#servicos p, #servicos ul{
    width: 300px;
    margin: auto;
}

#corretores{
    
}

#contato{
    
}

#contato p{
    background-color: black;
}
#contato ul li{
    background-color: white;
    padding: -20px
    margin: 0;
}

p{
    font-size: 10px;
}

ul{
    width: 80px;
    margin: 0;
    background-color: orange;
}

#sobre img, #corretores img{
    width: 200px;
}

#servicos, #contato{
    color: white;
    background-color: blue;
}

span{
    font-weight: bold;
    text-align: justify;
}

.span-destaque{
    color: yellow;
    font-weight: bold;
}

iframe{
    width: 300px;
    height: 150px;
}
