@charset "UTF-8";

div{
    font-family: tahoma;
    text-align: center;
    margin: auto;
    width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#logo{
    background-color: #afddfb;
}

#logo img{
    width: 150px;
    text-align: center;
}

#logo p{
    margin: 15px auto 25px auto;
}

#logo p a{
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}

#banner{
    margin-top: 50px;
    padding-top: 0;
}

#banner img, #sobre p, #corretores p{
    width: 800px;
    margin: auto;
    text-align: justify;
}

#sobre h1{
    color: #1d1d1d;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

#sobre h2{
    font-size: 10px;
    color: #1c81c0;
    margin-top: 0;
    font-weight: normal;
}

#servicos p{
    width: 700px;
    margin: auto;
    font-size: 28px;
    line-height: 42px;
}

#servicos ul{
    margin: 40px auto 40px auto;
    width: 135px;
}

#servicos ul li{
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

#corretores h3{
    color: #4386c5;
}

#contato p{
    background-color: black;
    padding: 15px;
    width: 650px;
    margin: 30px auto;
}

#contato ul{
    margin: 40px auto 40px auto;
    width: 210px;
}

#contato ul li a{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    background-color: white;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}
 
p{
    font-size: 12px;
    margin: 10px auto 10px auto;
}

#sobre img, #corretores img{
    width: 450px;
}

#servicos, #contato{
    font-size: 30px;
    color: white;
    background-color: #1d80c1;
    width: 900px;
}

span{
    font-weight: bold;
    text-align: justify;
    color: #1d80c1;
}

.span-destaque{
    color: #fff81b;
    font-weight: bold;
}

iframe{
    width: 600px;
    height: 300px;
}
