@charset "UTF-8";

body{
    text-align: center;
}

div{
    margin: 0 auto;
    width: 600px;
}

#logo{
    width: 190px;
    padding: 20px;
}

#produtos{
    color: white;
    background-color: #ff951a;
}

#produtos h3{
    padding-top: 20px;
}

#produtos img{
    width: 300px;
}

.produtos{
    width: 600px;
}

h1{
    font-weight: bolder;
    font-size: 28px;
}

h2{
    color: #ff9e55;
}

p{
    line-height: 25px;
    width: 500px;
    margin: auto;
    font-size: 14px;
}

span{
    font-weight: bold;
}
