@charset "UTF-8";

*{
    text-align: center;
    margin: 20px;
}

img {
    max-width: 120px;
}

span{
    font-weight: bold;
}

div a{
    border: 2px solid green;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    background-color: green;
    text-decoration: none;
    margin: 50px;
     
}

hr{
    border-bottom: 1px solid grey;
    margin: 40px 0 auto;
}