@charset "UTF-8";

.div-centraliza{
    width: 500px;
    margin: 0 auto;
}

.secao-topo p{
    font-weight: bold;
}

.secao-capa{
    background-image: url("img/capa.jpg");
    background-size: cover;
    min-width: 800px;
    min-height: 400px;
    padding: 30px 100px 0 0;
    margin-top: 10px;
}

.secao-capa h1, .secao-capa h2{
    text-align: right;
    margin: 0;
}

.secao-sobre img{
    width: 150px;
}

.secao-sobre .compromisso{
    border-left: 3px solid black;
    padding-left: 8px;
}

.destaque{
    padding: 50px 500px;
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
}

.destaque h3{
    background-color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    border-radius: 15px;
    width: 180px;
    
}
